:root {
    --primary-color: hsl(293, 90%, 26%);
    font-size: 18px;
}
body {
    background-color: antiquewhite;
    margin: 2px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3 {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: 300;
    font-family: fantasy;
    text-align: center;
    margin: 5%; 
    text-shadow: 3px 3px 1px rgb(146, 139, 139);
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(108, 4, 134);
}
.logonav {
    width: 5rem;
    height: 5rem;
}
.menubutton {
    
}
.linksnav {
    display: flex;
    justify-items: end;
    color: rgb(207, 192, 211);
    transition: 6s;
    text-decoration: none;
    text-align: right;
}
.fondo {
    height: 35vh;
    width: 100vw;
}
.text {
    text-indent: 15px;
    text-overflow: ;
    font-size: 20px;
    background-color: #c9bcc7;
    padding: 20px;
    border: 2px dotted rgb(37, 34, 34);
    border-radius: 20px;
    margin: 5%;
}
.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 5%;
    color: rgb(51, 14, 46);
}

.form {
    display: list-item;
    align-items: initial;
    background-color: #bbb9c9;
    margin: 2%;
    padding: 20px;
    border: 2px dotted rgb(37, 34, 34);
    border-radius: 20px;
    flex-wrap: wrap;
}

.inputform {
    border: 2px dotted var(--primary-color);
    border-radius: 10px;
    margin: 0 0 1em 0;
    padding: 10px;
    width: 95%;
}
.meetme {
    border: 2px dotted var(--second-color);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
    margin: 3%;
}

.footer {
    background-color: rgb(10, 1, 31);
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: (var(--primary-color));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.linkfooter {
    text-decoration: none;
    transition: 5s;
}
linkfooter:hover {
    color: red;
}
.navbar .fondo .text .form .footer {
    width: 100vw;
}
/* en proyecto */
a [href="https://twitter.com"] {
    background: url(/icons8-twitter-26.png) no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
  }

  @media screen {
    .skills progress {
        transition: color 10s linear;
    }
    .skills progress {
        color: aqua;
    }
  }