:root {
    --primary-color: hsl(293, 90%, 26%);
    font-size: 16px;
}
body {
    background-color: antiquewhite;
    margin: 2px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: (var(--primary-color));
    padding: 1em 0.5em;
    width: 100vw;
}
.logonav {
    display: flex;
    align-items: left;
    width: 20%;
    max-width: 30rem;
}
.menunav´{
    display: flex;
}
.menubutton {
    display: flex;
    align-items: flex-end;

}
.linksnav {
    display: flex;
    justify-items: flex-end;
    color: #fff;
    text-decoration: none;
    text-align: right;
}
.fondo {
    width: 100vw;
}
.text {
    font-size: 18px;
    width: 90vw;
    background-color: #c9bcc7;
    padding: 20px;
    border: 2px dotted rgb(37, 34, 34);
    border-radius: 20px;
}
.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 5%;
}
h3 {
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 300;
    font-family: fantasy;
    text-align: center;
    margin: 5%; 
    text-shadow: 3px 3px 1px rgb(146, 139, 139);
}
.form {
     
}
.form > div {
    background-color: antiquewhite;
    margin: 10px;
    padding: 20px;
}
.meetme {
    text-align: center;
    flex-wrap: wrap;
}
.progress {
    -ms-progress-appearance: bar, right,  ;
    
}
.footer {
    background-color: rgb(10, 1, 31);
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: (var(--primary-color));
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}